%h2
  =link_to image_tag("Home.png", :size => "50x50"), '/'
  ="Search Criteria for "
  %i
    ="#{ @product_search.search_name.blank? ? 'unnamed search' : @product_search.search_name }:"
%table{ :style => 'display: inline;' }
  %tr
    %th
      =' '
    -ProductSearch.contains_searches.each do |key|
      %th
        ="#{key.sub('product', '')}"
  %tr
    %td{ :style => 'width: 50px;' }
      =' '
    -ProductSearch.contains_searches.each do |key|
      %td{ :style => 'border: 1px solid #000;' }
        ="#{@product_search.send(key).blank? ? 'all' : @product_search.send(key)}"

%table{ :style => 'display: inline; margin-left: 50px;' }
  %tr
    %th
      =' '
    -ProductSearch.ranged_searches.each do |key|
      %th
        ="#{key.sub('product', '')}"
  %tr
    %th
      Max
    -ProductSearch.ranged_searches.each do |key|
      %td{ :style => 'border: 1px solid #000;' }
        ="#{@product_search.send(key + '_max').blank? ? 'all' : @product_search.send(key + '_max')}"
  %tr
    %th
      Min
    -ProductSearch.ranged_searches.each do |key|
      %td{ :style => 'border: 1px solid #000;' }
        ="#{@product_search.send(key + '_min').blank? ? 'all' : @product_search.send(key + '_min')}"
    
-if @products.empty?
  <META HTTP-EQUIV="refresh" CONTENT="5;URL=/">
  %p
    ="Your search returned no results... You will be redirected momentarily or click "
    =link_to 'here', root_path
    ="."
  
-else
  #dialog-form{ :style => "display: none;" }
    %h4
      Preselected attributes have at least<BR>
      one product with that attribute.
    =form_for @product_search, :url => download_path, :method => :get do |f|
      -if @product_search.id
        =hidden_field_tag "search_id", @product_search.id
      -else
        -@product_search.attributes.each do |key, value|
          =hidden_field_tag "product_search[#{key}]", value unless value.blank? or @product_search.id

      %table{ :style => "width: 100%;" }
        -MbkAttribute.all.each_slice(2) do |attrs|
          %tr
            -attrs.each do |attr|
              %td
                =check_box_tag "optional_attributes[]", attr.name, @preselected_optional_columns.include?(attr.name)
              %td{ :style => "text-align: left; padding-left: 10px;" }
                =attr.name.camelize
      %div{ :style => "padding-top: 50px;" }
        =f.submit "Download XLS", :onclick => "$('#dialog-form').dialog('close')"
        =button_to_function "Cancel", "$('#dialog-form').dialog('close')"

  %p
    ="Your search returned #{@product_count} results"
    -if @product_count > @products.count
      =" (only the first #{@products.count} are displayed in this preview, all will be in the XLS)"
    ="."
    =link_to_function "Download XLS", "$('#dialog-form').dialog('open')"
    ="or click "
    =link_to "here", root_path
    =" to return to the Home page."

  %table.preview_search_table
    %thead
      %tr.preview_table_row
        %th.preview_table_cell
          ="Image"
        %th.preview_table_cell
          ="Links"
        -Product.preview_attributes.each do |attr|
          %th.preview_table_cell
            -if attr == "v_stocklowqtyalarm"
              ="QtyAlarm"
            -elsif attr == "v_hideproduct"
              ="Hidden?"
            -elsif attr == "v_stockstatus"
              ="Qty"
            -else
              =attr.gsub("discounted","").gsub("v_","").camelize
    %tbody
      -@products.each do |product|
        %tr.preview_table_row
          %td.preview_table_cell{:style => "width: 100px;"}
            =image_tag("#{product.v_image_uri}", :width=>"100px")
            =link_to 'Change Image', image_path(product), :target => '_blank'
          %td.preview_table_cell
            =link_to 'V', product.v_product_path, :target => '_blank'
            =" - "
            =link_to 'M', product.mbk_product_path, :target => '_blank'
          -Product.preview_attributes.each do |attr|
            %td.preview_table_cell{:class => "#{'long_cell' if Product.long_attributes.include? attr}" +      |
              "#{'short_cell' if Product.short_attributes.include? attr}"}                                   |
              -if product.send(attr).is_a?(Float)
                -unless product.send(attr) == 0
                  ="$%.2f" % product.send(attr)
                -else
                  =""
              -elsif product.send(attr).is_a?(Fixnum)
                -unless product.send(attr) == 0
                  =product.send(attr)
                -else
                  =""
              -elsif attr == "v_categoryids"
                =product.send(attr).try(:gsub, ",", ", ")
              -else
                =product.send(attr)
